---

- name: "scripts.tasks.main: Create directory"
  file:
    path: "~/bin"
    state: directory

- name: "scripts.tasks.main: Include RedHat specific tasks"
  when: "ansible_os_family == 'RedHat'"
  include_tasks: _redhat.yml

- name: "scripts.tasks.main: Include RedHat specific tasks"
  when: "ansible_os_family == 'Debian'"
  include_tasks: _debian.yml

- name: "scripts.tasks.main: Include RedHat specific tasks"
  when: "ansible_os_family == 'Darwin'"
  include_tasks: _mac.yml

