---

- name: "base_packages.tasks._debian: Install packages"
  apt:
    name: "{{ item }}"
    state: latest
    update_cache: yes
  with_items:
    - build-essential
    - software-properties-common
    - git
