---

- name: "roles.base_packages.tasks._debian: Upgrade all packages"
  apt:
    name: '*'
    state: latest

- name: "roles.base_packages.tasks._debian: Install packages"
  apt:
    name: "{{ item }}"
    state: latest
  with_items:
    - build-essential
